In [11]:
import pandas as pd
import numpy as np

In [3]:
file_name = './mesh_ground/fluentInterface/mesh_ground.msh'

In [5]:
def read_data(file_name, start, stop):
    with open(file_name, 'r') as f:
        A = f.readlines()[start:stop]
    return A

In [66]:
header = read_data(file_name, 0, 12)
# Reading Points Data
point_skip = 12
n_points = int(header[-2].split()[3], 16)
points_data = pd.DataFrame(np.genfromtxt(
    file_name,
    skip_header=point_skip,
    max_rows=n_points,
))
points_data.to_csv('./data/points_data.csv', sep='\t')

In [67]:
points_df = pd.read_csv('./data/points_data.csv', sep='\t')
points_df.columns = ['ID', 'X', 'Y', 'Z']
points_df = points_df.drop(points_df[points_df['Z'] != 0.0].index)
points_df = points_df.reset_index(drop=True)
points_df['new_ID'] = points_df.index
points_df.to_csv('./data/points_data.csv', sep='\t')

In [68]:
points_df

      ID    X    Y    Z  new_ID
0      0  0.0  0.0  0.0       0
1      1  0.1  0.0  0.0       1
2      2  0.2  0.0  0.0       2
3      3  0.3  0.0  0.0       3
4      4  0.4  0.0  0.0       4
..   ...  ...  ...  ...     ...
336  567  2.6  1.0  0.0     336
337  568  2.7  1.0  0.0     337
338  569  2.8  1.0  0.0     338
339  570  2.9  1.0  0.0     339
340  571  3.0  1.0  0.0     340

[341 rows x 5 columns]

In [81]:
def replace_aligned(x):
    index = points_df[points_df["ID"] == x-1].index
    return points_df.loc[index]['new_ID'].values[0]

In [84]:
replace_aligned(572)

340